[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Guodong Chen
	email = cgderic@umich.edu
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto
[alias]
	lol = log --graph --oneline --decorate --color --all
  logp = log --graph --pretty=format:'%C(auto)%h%C(yellow)|%Cgreen%ad|%Cblue%an|%C(auto)%d ==> %Creset%s' --date=short 
  logm = logp --author='Guodong Chen'
[core]
  editor = vim 
[http]
	postBuffer = 524288000
[sendpack]
	sideband = false
